@model ScanHomeSite.Models.DeployVariables
@{
    ViewBag.Title = "Deploy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function () {

            $('#t_projectos tbody tr').click(function () {
                var ID = $(this).text();
                var str = ID.trim();
                var res = str.substring(0, str.indexOf(" "));

                if (str === "To Deploy application you must first create an application configuration.") {
                    var url = '@Url.Action("../ScanHome/Create")';
                    window.location.href = url;
                }
                else {
                    var url = '@Url.Action("../ScanHome/Deploy")' + '?ConfigName=' + str;
                    window.location.href = url;
                }

            })
        })
    </script>
}

<div style="padding-left: 20px; padding-right: 20px">
    <div class="container-fluid">

        <div class="row">
            <div class="table-responsive  display">
                <div class="panel panel-primary filterable">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Deploy Application For Versalink</strong></h3>
                    </div>
                    <table id="t_projectos" class="table table-bordered table-hover ">
                        <tbody id="T_Projectos">
                            @if (Model.l_nome != null)
                            {
                                foreach (var equipa in Model.l_nome)
                                {   
                                <tr>
                                    <td>@equipa</td>
                                </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>To Deploy application you must first create an application configuration.
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

