@{
	ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta http-equiv="Cache-control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />

	@*<script src="~/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>*@
	@*<link href="http://127.0.0.1/xrx_g9_widgets/XRXg9Widgets.min.css" type="text/css" rel="stylesheet" />
		<script src="http://127.0.0.1/xrx_g9_widgets/XRXg9Widgets.min.js" type="text/javascript"></script>*@
	@*<link href="http://127.0.0.1:59347/xrx_g9_widgets/XRXg9Widgets.min.css" type="text/css" rel="stylesheet" />
	<script src="http://127.0.0.1:59347/xrx_g9_widgets/XRXg9Widgets.min.js" type="text/javascript"></script>*@

	@*	<script type="text/javascript" src="~/Scripts/XRXXmlHandler.js"></script>
		<script type="text/javascript" src="~/Scripts/XRXWebservices.js"></script>
		<script type="text/javascript" src="~/Scripts/XRXSession.js"></script>*@

	<link href="~/styles/common.css" rel="stylesheet" />

	<script type="text/javascript" src="~/Scripts/XRXRouter.js"></script>

	<script type="text/javascript" src="~/Scripts/XRXXmlHandler.js"></script>
	<script type="text/javascript" src="~/Scripts/XRXWebservices.js"></script>
	<script type="text/javascript" src="~/Scripts/XRXSession.js"></script>
	<script type="text/javascript" src="~/Scripts/XRXUtilities.js"></script>
	<script type="text/javascript" src="~/Scripts/XRXScanV2.js"></script>
	<script type="text/javascript" src="~/Scripts/XRXJobManagement.js"></script>
	<script type="text/javascript" src="~/Scripts/XRXDeviceConfig.js"></script>

	<script type="text/javascript" src="~/Scripts/CommonHelper.js"></script>
	<script type="text/javascript" src="~/Scripts/version.js"></script>

	@*<link type="text/css" href="~/styles/EmailPageStyle.css" rel="stylesheet" />*@


	<script lang="javascript" type="text/javascript">
		var UserName = "";
		var UserEmail = "";

		var xrxTestingEnabled = true;
		var xrxTestingMFPIP = "10.97.94.44"; //mfp ip

		function CheckForLoadEvent() {

			//alert("Entrei");
			if (window.ExecuteOnLoad != null) {
				window.ExecuteOnLoad();
			}
		}

		function ExecuteOnLoad() {
			if (xrxTestingEnabled) {
				xrxJobMgmtListActiveQueue("http://" + xrxTestingMFPIP, c_success, c_failure, 0, false);
			} else {
				xrxJobMgmtListActiveQueue("http://127.0.0.1", c_success, c_failure, 0, false);
			}
			GetMFPModel();
		}

		function c_success(request, response) {
			//try {
			//	var jsonOfLog = JSON.stringify(response);
			//	var temp = jsonOfLog.split("<Bytes>");
			//	var temp2 = temp[1].split("</Bytes>");
			//	document.getElementById('base64').value = temp2[0];
			//} catch (e) {
			//	alert("deu mal: " + e);

			// PMTB validar isto
			document.getElementById('base64').value = "";
			//}
		}

		function c_failure(req, res, status) {
			alert("c_failure " + status);
		}

		function GetMFPModel() {
			try {
				if (xrxTestingEnabled) {
					xrxDeviceConfigGetDeviceInfo("http://" + xrxTestingMFPIP, callback_success, callback_failure);
				} else {
					xrxDeviceConfigGetDeviceInfo("http://127.0.0.1", callback_success, callback_failure);
				}
			}
			catch (e) { }
		}

		function callback_success(req, res) {
			var root = xrxDeviceConfigParseGetDeviceInfo(res);
			var model = xrxGetElementValue(root, "model");

			document.getElementById('mfpModel').value = model;
			alert("callback_success");
			GetUserName();
		}

		function callback_failure(req, res, status) {
			//alert("callback_failure " + status);
			//window.location.href = "9thGenBillingCounters.html";
		}

		function GetUserName() {
			try {
				if (xrxTestingEnabled) {
					//alert("1");
					xrxSessionGetSessionInfo("https://" + xrxTestingMFPIP, setUserName, callbackfail);
				} else {
					//alert("2");
					xrxSessionGetSessionInfo("https://localhost", setUserName, callbackfail);
				}
			}
			catch (e) { alert("deu erro: " + e); }
		}

		function callbackfail(req, response, code) {

			UserName = "";
			UserEmail = "";
			alert("nao entrou o user")
			if (xrxTestingEnabled) {
				alert("callbackfail: " + response.split("<faultstring>")[1]);
			} else {
				alert("Request failed");
			}

			document.getElementById('SetUserName').submit();
		}

		function setUserName(sessRequest, sessResponse) {
			try {
				var sessInfoObj = xrxSessionParseGetSessionInfo(sessResponse);
				//var jsonOfLog = JSON.stringify(sessResponse);
				//alert(jsonOfLog);
				//alert("model " + xrxGetElementValue(sessInfoObj, 'model'));
				//var tamanho = jsonOfLog.length / 4;
				//var temp = jsonOfLog.substring(0, tamanho);
				//alert(temp);
				//temp = jsonOfLog.substring(tamanho, tamanho * 2);
				//alert(temp);
				//temp = jsonOfLog.substring(tamanho * 2, tamanho * 3);
				//alert(temp);
				//temp = jsonOfLog.substring(tamanho * 3, jsonOfLog.length);
				//alert(temp);


				if (sessInfoObj) {
					if (((name = xrxGetElementValue(sessInfoObj, 'displayName')) != null) && (name != "")) {

						UserName = name;
						document.getElementById('userName').value = UserName;

						UserEmail = xrxGetElementValue(sessInfoObj, 'from');
						document.getElementById('userEmail').value = UserEmail;
					}
				}
			}
			catch (e) {
				UserName = "";
				document.getElementById('SetUserName').submit();
			}
			document.getElementById('SetUserName').submit();
		}
	</script>
</head>

<body onload="CheckForLoadEvent()" style="background-color: rgba(0, 0, 0, .85);">

	@using (Html.BeginForm("SetUserName", "Home", FormMethod.Post, new { id = "SetUserName" }))
	{
		<input type="hidden" name="userEmail" id="userEmail" value="" /><br />
		<input type="hidden" name="userName" id="userName" value="" /><br />
		<input type="hidden" name="mfpModel" id="mfpModel" value="" /><br />
		<input type="hidden" name="base64" id="base64" value="" /><br />
	}

</body>
</html>
